########################
# Weird Files and logs #
########################

.DS_Store
._*
.htaccess
.idea
*.log
error_log


########################
# Sitemap              #
########################

sitemap.xml
sitemap.xml.gz


########################
# Wordpress            #
########################

wp-activate.php
wp-atom.php
wp-blog-header.php
wp-comments-post.php
wp-commentsrss2.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-feed.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-pass.php
wp-rdf.php
wp-register.php
wp-rss.php
wp-rss2.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Admin
wp-admin/

# System files
wp-includes/

# Content folders
wp-content/advanced-cache.php
wp-content/db.php
wp-content/object-cache.php
wp-content/backups/
wp-content/backup-db/
wp-content/blogs.dir/
wp-content/cache/
wp-content/gallery/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/w3tc-config

########################
# Site Specific        #
########################